* {
    margin: 0;
    padding: 0;
}

/* Inter Fonts  */
@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/static/Inter-Bold.ttf") format("ttf"),
    url("./assets/fonts/static/Inter-Regular.ttf") format("ttf"),
    url("./assets/fonts/static/Inter-SemiBold.ttf") format("ttf");
}

body{ 
    font-family: "Inter", monospace;
    font-size: 14px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 8%);
}

#container {
    width: 375px;
    height: 500px;
    position: relative;
    transform: translateY(50%);
    margin-left: auto;
    margin-right: auto;
}

#inner-container{
    display: block;
    background-color: hsl(0, 0%, 12%);
    border: 1px solid hsl(0, 0%, 12%);
    border-radius: 20px;
    height: 100%;
    width:80%;
    margin-left: 10%;
}

#person, #button, #attribution {
    display: block;
}

button {
    display: block;
    border: none;
    appearance: none; 
    background-color: hsl(0, 0%, 20%);
    color:hsl(0, 0%, 100%);
    border-radius: 10px;
    font-family: "Inter", monospace;
    font-weight: 600;
    font-size: 14px;
    width:80%;
    height: 2rem;
    margin: 10px auto;

}

button:hover {
    background-color: hsl(0, 1%, 41%);
    color:hsl(75, 94%, 57%);
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.24), 0 17px 30px 0 rgba(0, 0, 0, 0.19);
}

button:active {
    background-color: hsl(75, 94%, 57%);
    color:hsl(0, 0%, 20%);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

img{
    display: block;
    width: 25%;
    border-radius: 50%;  
    margin: 1.5rem auto;
}

h2{
    font-weight: 700;
    text-align: center;
}

h3{
    font-weight: 600;
    font-size: small;
    color:hsl(75, 94%, 57%);
    text-align: center;
    margin-top: 10px;
}

h4{
    font-weight: 400;
    font-size:smaller;
    text-align: center;
    margin: 30px 0;
}

.attribution {
    display: block;
    /* width: 80%; */
    margin: 10px auto;
    font-size: 0.5rem;
    font-weight: smaller; 
    text-align: center;
    font-family: "Inter";
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 375px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  #container {
    transform: translateY(0%);
  }
}